* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}


body {
    font-family: 'Pretendard-Regular';

}


.main {
    display: flex;
    flex-direction: column;
    max-width: var(--sizes-maxContents);
    margin: 0px auto;
    padding-top: var(--space-mobileHeaderHeight);
    padding-left: 1rem;
    padding-right: 1rem;
}


.c_ul ul,
.c_ul ol {
    padding-left: 2.5rem;
}



strong {
    font-weight: bold;
}


.font24 {
    font-size: 24px;
}

.font18 {
    font-size: 18px;
}

.font14 {
    font-size: 14px;
}



.sub {
    padding-bottom: 5rem;
    font-size: 0.875rem;
    line-height: 1.6;
    overflow-wrap: break-word;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


body:lang(ko) {
    word-break: keep-all;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}


table {
    min-width: 100%;
    max-width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: center;
    word-break: break-all;
    empty-cells: show;
}